In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
data = pd.read_csv('pima.csv')
data.head()

   6  148  72  35    0  33.6  0.627  50  1
0  1   85  66  29    0  26.6  0.351  31  0
1  8  183  64   0    0  23.3  0.672  32  1
2  1   89  66  23   94  28.1  0.167  21  0
3  0  137  40  35  168  43.1  2.288  33  1
4  5  116  74   0    0  25.6  0.201  30  0

In [3]:
col_names = ['pregnancy', 'glucose', 'bp', 'skin', 'insulin_level', 'bmi', 'pedigree', 'age', 'diabetes_label']

In [6]:
pima = pd.read_csv('pima.csv', names=col_names)
pima.head()

,pregnancy,glucose,bp,skin,insulin_level,bmi,pedigree,age,diabetes_label
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [7]:
pima.tail()

,pregnancy,glucose,bp,skin,insulin_level,bmi,pedigree,age,diabetes_label
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [8]:
pima.count()

pregnancy         768
glucose           768
bp                768
skin              768
insulin_level     768
bmi               768
pedigree          768
age               768
diabetes_label    768
dtype: int64

In [9]:
pima.describe

<bound method NDFrame.describe of      pregnancy  glucose  bp  skin  insulin_level   bmi  pedigree  age  \
0            6      148  72    35              0  33.6     0.627   50
1            1       85  66    29              0  26.6     0.351   31
2            8      183  64     0              0  23.3     0.672   32
3            1       89  66    23             94  28.1     0.167   21
4            0      137  40    35            168  43.1     2.288   33
5            5      116  74     0              0  25.6     0.201   30
6            3       78  50    32             88  31.0     0.248   26
7           10      115   0     0              0  35.3     0.134   29
8            2      197  70    45            543  30.5     0.158   53
9            8      125  96     0              0   0.0     0.232   54
10           4      110  92     0              0  37.6     0.191   30
11          10      168  74     0              0  38.0     0.537   34
12          10      139  80     0              0  27.1     1.441   57
13           1      189  60    23            846  30.1     0.398   59
14           5      166  72    19            175  25.8     0.587   51
15           7      100   0     0              0  30.0     0.484   32
16           0      118  84    47            230  45.8     0.551   31
17           7      107  74     0              0  29.6     0.254   31
18           1      103  30    38             83  43.3     0.183   33
19           1      115  70    30             96  34.6     0.529   32
20           3      126  88    41            235  39.3     0.704   27
21           8       99  84     0              0  35.4     0.388   50
22           7      196  90     0              0  39.8     0.451   41
23           9      119  80    35              0  29.0     0.263   29
24          11      143  94    33            146  36.6     0.254   51
25          10      125  70    26            115  31.1     0.205   41
26           7      147  76     0              0  39.4     0.257   43
27           1       97  66    15            140  23.2     0.487   22
28          13      145  82    19            110  22.2     0.245   57
29           5      117  92     0              0  34.1     0.337   38
..         ...      ...  ..   ...            ...   ...       ...  ...
738          2       99  60    17            160  36.6     0.453   21
739          1      102  74     0              0  39.5     0.293   42
740         11      120  80    37            150  42.3     0.785   48
741          3      102  44    20             94  30.8     0.400   26
742          1      109  58    18            116  28.5     0.219   22
743          9      140  94     0              0  32.7     0.734   45
744         13      153  88    37            140  40.6     1.174   39
745         12      100  84    33            105  30.0     0.488   46
746          1      147  94    41              0  49.3     0.358   27
747          1       81  74    41             57  46.3     1.096   32
748          3      187  70    22            200  36.4     0.408   36
749          6      162  62     0              0  24.3     0.178   50
750          4      136  70     0              0  31.2     1.182   22
751          1      121  78    39             74  39.0     0.261   28
752          3      108  62    24              0  26.0     0.223   25
753          0      181  88    44            510  43.3     0.222   26
754          8      154  78    32              0  32.4     0.443   45
755          1      128  88    39            110  36.5     1.057   37
756          7      137  90    41              0  32.0     0.391   39
757          0      123  72     0              0  36.3     0.258   52
758          1      106  76     0              0  37.5     0.197   26
759          6      190  92     0              0  35.5     0.278   66
760          2       88  58    26             16  28.4     0.766   22
761          9      170  74    31              0  44.0     0.403   43
762          9       89  62     0              0  22.5     0.142   33
763         10      101  76    48            180  32.9     0.171   63
764          2      122  70    27              0  36.8     0.340   27
765          5      121  72    23            112  26.2     0.245   30
766          1      126  60     0              0  30.1     0.349   47
767          1       93  70    31              0  30.4     0.315   23

     diabetes_label
0                 1
1                 0
2                 1
3                 0
4                 1
5                 0
6                 1
7                 0
8                 1
9                 1
10                0
11                1
12                0
13                1
14                1
15                1
16                1
17                1
18                0
19                1
20                0
21                0
22                1
23                1
24                1
25                1
26                1
27                0
28                0
29                0
..              ...
738               0
739               1
740               1
741               0
742               0
743               1
744               0
745               0
746               1
747               0
748               1
749               1
750               1
751               0
752               0
753               1
754               1
755               1
756               0
757               1
758               0
759               1
760               0
761               1
762               0
763               0
764               0
765               0
766               1
767               0

[768 rows x 9 columns]>

In [12]:
X = pima[['pregnancy', 'insulin_level', 'bmi', 'age']]

y = pima['diabetes_label']

In [13]:
from sklearn.cross_validation import train_test_split

/home/oteng/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=10)

In [17]:
print(X_train.shape, y_train.shape)

(537, 4) (537,)

In [18]:
print(X_train.shape, y_train.shape)

(537, 4) (537,)